axios@1.6.2
bcryptjs@2.4.3
dotenv@16.3.1
ejs@3.1.9
express@4.18.2
express-ejs-layouts@2.5.1
express-session@1.17.3
google-libphonenumber@3.2.33
mongodb@6.3.0
mongoose@8.0.3
node-telegram-bot-api@0.64.0
nodemon@3.0.2 